* {
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #aaaaaa;
    font-family: "JetBrains Mono";
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

nav menu {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 32px;
    margin-bottom: 128px;
}

nav menu li {
    margin-top: 20px;
    margin-right: .75em;
}

a {
    color: #51afef;
}

article {
    margin-bottom: 3em;
}

li {
    margin-left: 1em;
}

p {
    margin-bottom: 2em;
    max-width: 75%;
}

strong {
    color: #aaffaa;
}

.site-title {
    flex: 2;
    font-size: 48px;
    margin-left: 0;
}

h1 {
    margin-bottom: 2.4em;
    font-size: 48px;
}

main {
    margin: 12px;
}

.content-list {
    margin-top: 24px;
    list-style: none;
}
