* {
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #aaaaaa;
    font-family: "JetBrains Mono";
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

nav menu {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 32px;
    margin-bottom: 128px;
}

nav menu li {
    margin-top: 20px;
    margin-right: .75em;
}

article {
    margin-bottom: 3em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

article > * {
    margin-bottom: 2rem;
}

article > *:not(aside) {
    margin-bottom: 2rem;
    flex-basis: 60%;
}

aside {
    flex-basis: 20%;
    font-size: .75rem;
    margin-left: 10%;
}

a {
    color: #51afef;
}

a:hover {
    color: #888888;
    transition: color 500ms;
}

li {
    margin-left: 1em;
}

li:not(nav menu li, ol li)::marker {
    content: '- ';
    font-size: 1em;]
}

ol {
    list-style: none;
}

ol li {
    margin-left: 0;
}

strong {
    /*color: #88ff88;*/
    color: #51afef;
}

.site-title {
    flex: 2;
    font-size: 3rem;
    margin-left: 0;
}

h1 {
    margin-bottom: 2.4em;
    font-size: 2.75rem;
}

h2 {
    margin-bottom: .5em;
    font-size: 1.75rem;
}

main {
    margin: 0;
}

.content-list {
    margin-top: 24px;
    list-style: none;
}
